.jumbotron{
	text-align: center;
	background: url(https://innovationorigins.com/app/uploads/2019/06/technology-785742_1920-1004x669.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-transform: capitalize;
	color: #ebfafa;
	margin-bottom: -5px;
	font-size: 30px;
}
#jumbo{
	background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQLTcPZZeDsrQdIkUHz7aicl39HKR7yhtgN3A&usqp=CAU);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
h1{
	font-size: 50px;
	font-family: serif;
	text-transform: capitalize;
	color: orange;
	font-weight: 900;
}
.display-6{
	font-size: 60px;
	color: #fff;
	font-family: serif;
	font-weight: 1200;
}

.para{
	font-family: italic;
	color: #ccc;
	text-transform: capitalize;
	font-weight: 600;
	text-decoration: italic;
}
#abr{
	color: orange;
	font-size: 60px;
}
#nav-bar{
	color: #fff;
	border-radius: 20px;
	margin: 10px;
	text-decoration: none;
	font-size: 20px;
}
#nav-bar:hover{
	color: #ccc;
}
#contain{
	margin-left: 20px;
	margin-top: 160px;
	font-size: 25px;
	width: 100%;
}
#about{
	margin-top: 60px;
	font-size: 25px;
	width: 100%;
}
.contain-team{
	margin-left: 20px;
	margin-top: 60px;
	font-size: 25px;
	width: 100%;
}
#contain-team{
	margin-left: 20px;
	margin-top: 40px;
	font-size: 25px;
	width: 100%;
}
img {
	height: 250px;
	width: 250px;
	margin-top: 40px;
	border: 2px solid grey;
}
#im{
	text-align: center;
}
img:hover{
	color: grey;
}
.team .profile1{
	width: 150px;
	height: 150px;
	margin: 10px;
	border-radius: 250px;
	margin-top: 10px;
	margin-right: 20px;
}
.figure{
	border-radius: 150px;
	margin-left: 30px;
	height: 100px;
	margin-bottom: 90px;
}
.team-rmc .figure{
	border-radius: 150px;
}
.profile1 h3{
	margin-top: 10px;
	margin-right: 20px;
}
.team h3{
	color: grey;
	margin: 5px;
}

.dropdown-item{
	background: grey;
	font-size: 25px;
}
#content{
	font-size: 25px;
	margin-top: 15px;
	background: #fff;
}
h4{
	font-size: 30px;
	text-align: center;
	text-decoration: underline;
	text-transform: capitalize;
}
.copyright{
	text-align: center;
	background: #000000;
	color: #fff;
	margin-bottom: 10px;
}
span{
	font-size: 20px;
	color: #000000;
	font-weight: 900;
}
#separ{
	margin-top: 40px;
}
#address{
	text-align: center;
	font-size: 30px;
	border: 2px solid grey;
	margin-bottom: 100px;
}
h2{
	color: orange;
	text-transform: capitalize;
	font-family: serif;
	font-size: 50px;
	font-weight: 600;
	margin-bottom: 30px;
}
#home{
	color: #ccc;
	font-size: 30px;
	margin-right: 10px;
	margin-left: 5px;
	text-decoration: none;
}
#home:hover{
	color: #fff;
}
#covid{
	color: #fff;
}
.dropdown-item{
	color: #fff;
}
div .about-me{
	width: 150px;
	height: 150px;
}
.pgh{
	font-size: 30px;
	margin-left: 27%;
	margin-top: -24.5%;
}
.pgh-2{
	font-size: 30px;
	margin-top: 20px;
}
h5{
	margin-left: 0.5%;
	font-size: 30px;
	color: blue;
	margin-top: -40px;
	margin-bottom: 15px;
}
.header{
	text-align: center;
	background: teal;
	font-size: 20px;
	text-decoration: none;
	margin-top: 2%;
	justify-content: space-between;
}
.pgh-3{
	font-size: 30px;
}